# Entornos
venv/
.env
.venv/
__pycache__/
*.pyc

# Notebooks checkpoint
.ipynb_checkpoints/

# Datos grandes / salidas
data/
datasets/
outputs/
tmp/
logs/
*.csv.gz
*.tif
*.tiff
*.npy
*.npz
*.dat
*.parquet

# Sistema
.DS_Store
Thumbs.db

# VSCode
.vscode/